<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Clima
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Clima</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-select [(ngModel)]="Ciudad" placeholder="Ciudad">
        <ion-select-option value="uk">Reino Unido</ion-select-option>
        <ion-select-option value="us">Estados Unidos</ion-select-option>
        <ion-select-option value="at">Austria</ion-select-option>
        <ion-select-option value="ar">Argentina</ion-select-option>
        <ion-select-option value="au">Australia</ion-select-option>
        <ion-select-option value="be">Bélgica</ion-select-option>
        <ion-select-option value="br">Brasil</ion-select-option>
        <ion-select-option value="ca">Canadá</ion-select-option>
    </ion-select>
    <ion-item>
        <ion-label>Codigo postal</ion-label>
        <ion-input type="text" placeholder="Codigo postal" [(ngModel)]="Cp"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="getClima()">Obtener clima</ion-button>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-label>
                    <ion-text>
                        <h1>
                            <ion-text color="primary">
                                <ion-icon name="sunny"></ion-icon>
                            </ion-text>
                        </h1>
                        <h2>{{gradoCent}}</h2>
                    </ion-text>
                </ion-label>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card-title>
                <ion-label>
                    <ion-text>
                        <h1>
                            <ion-text color="primary">
                                <ion-icon name="cloud"></ion-icon>
                            </ion-text>
                        </h1>
                        <h2>{{gradoFarenhit}}</h2>
                    </ion-text>
                </ion-label>
            </ion-card-title>
        </ion-card-content>
    </ion-card>

</ion-content>